* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.locationSearch {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.dayTabsContainer {
    display: inline-flex;
    width: 100%;
}

.viewportContainer {
    display: in;
    flex-direction: row;
    justify-content: left;
    margin-left: 15%;
    width: 100%;
}

.dayTabs {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 80%;
    outline: 2px solid black;
    margin-left: 15%;
    overflow-y: scroll;
}

.forecastContent {
    width: 80%;
    outline: 2px solid black;
    overflow-y: scroll;
}

.displayLink {
    outline: 1px solid black;
    padding: 1em;
    width: 11%;
    display: flex;
    flex-direction: column;
}

.dayTab {
    display: flex;
    flex-direction: column;
    padding: 1em;
    outline: 2px solid black;
    width: 20em;
}

.hoursContainer {
    display: flex;
}

.detailedConditionsContainer {
    display: flex;
    flex-direction: column;
    height: 40em;
}

.detailedConditions, .hour {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.detailedConditions {
    outline: 1px solid black;
    width: 3em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hour {
    outline: 1px solid black;
    width: 3em;
    padding: 1em;
}