@font-face {
  font-family: "futura";
  src: url("./futura/futur.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: futura;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.mainArea {
    justify-self: center;
    width: 70%;
    outline: 2px solid black;
}

.locationSearch {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.displayLink, .dayTab {
    outline: 1px solid black;
    display: flex;
    padding: 1em;
    flex-direction: column;
    width: 100%;
}


.dayTabs, .forecastContent,
.hoursContainer, .detailedConditionsContainer,
.tempByHour, .feelsLikeTempByHour,
.humidityByHour, .precipByHour,
.conditionsArea, .iconsByHour {
    display: flex;
}

.forecastContent, .detailedConditionsContainer {
    flex-direction: column;
}

.forecastContent, .dayTabs {
    overflow-y: scroll;
}

.hour, .detailedTemp,
.detailedFeelsLike,
.humidity, .precipitation {
    outline: 1px solid black;
    width: 3em;
    display: flex;
    flex: 0 0 3em;
    padding: 2em;
    justify-content: center;
}

.tempHeader, .feelsLikeTempHeader,
.humidityHeader, .precipHeader {
    position: fixed;
}

.tempHeaderContainer,
.feelsLikeHeaderContainer,
.humidityHeaderContainer,
.precipHeaderContainer {
    height: 20px;
}